<h3>TabScrollingTest</h3>
    <MudTabs Elevation="4" Rounded="true" Color="@Color.Secondary">
            <MudTabPanel Text="OneOneOneOne">SOME OneOneOneOne</MudTabPanel>
            <MudTabPanel Text="TwoTwoTwoTwo">SOME TwoTwoTwoTwo</MudTabPanel>
            <MudTabPanel Text="ThreeThreeThreeThree">SOME ThreeThreeThreeThree</MudTabPanel>
            <MudTabPanel Text="FourFour">SOME FourFour</MudTabPanel>
            <MudTabPanel Text="FiveFive">SOME FiveFive</MudTabPanel>
            <MudTabPanel Text="SixSixSixSix">SOME SixSixSixSix</MudTabPanel>
        </MudTabs>
@code {

}
